aiofiles==0.5.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blessed==1.17.12
Brotli==1.0.9
cached-property==1.5.2
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.4
commonmark==0.9.1
cycler==0.10.0
dash==1.17.0
dash-bootstrap-components==0.11.1
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
diot==0.1.1
distlib==0.3.1
Django==3.1
enlighten==1.7.1
entrypoints==0.3
executing==0.5.3
filelock==3.0.12
Fiona==1.8.18
Flask==1.0.2
Flask-Compress==1.7.0
Flask-Cors==3.0.9
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.4.4
future==0.18.2
geojson==2.5.0
geopandas==0.8.1
gunicorn==20.0.4
idna==2.10
inflection==0.5.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
kiwisolver==1.3.1
lark-parser==0.11.1
lazy-object-proxy==1.4.3
liquidpy==0.6.3
lxml==4.6.2
Markdown==3.2.2
MarkupSafe==1.1.1
marshmallow==3.9.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.6.0
multitasking==0.0.9
munch==2.5.0
nbclient==0.5.0
nbconvert==6.0.5
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
numpy==1.19.3
packaging==20.4
pandas==1.1.4
pandas-datareader==0.9.0
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pipda==0.0.6
pipen==0.0.2
pipenv==2020.11.15
plotly==4.12.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
psutil==5.8.0
ptyprocess==0.6.0
pycountry==20.7.3
pycparser==2.20
Pygments==2.7.1
pylint==2.5.3
pyparam==0.4.7
pyparsing==2.4.7
pyproj==3.0.0.post1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-decouple==3.3
python-simpleconf==0.4.0
python-slugify==4.0.1
pytz==2020.1
pyzmq==19.0.2
requests==2.25.0
retrying==1.3.3
rich==9.5.1
scikit-learn==0.23.2
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.1
simplug==0.0.6
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.20
sqlparse==0.3.1
statsmodels==0.12.1
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.26.2
uvloop==0.14.0
varname==0.5.6
virtualenv==20.2.1
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
xqute==0.0.4
yfinance==0.1.55
