.sidebar {
    display: inline-block;
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    height: 100vh;
    padding: 2rem 1rem;
    /*background: rgb(151, 237, 138);
    background: linear-gradient(159deg, rgba(151, 237, 138, 1) 0%, rgba(69, 191, 85, 1) 100%);
    */
}