.sidebar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    width: 20em;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(151, 237, 138);
    background: linear-gradient(159deg, rgba(151, 237, 138, 1) 0%, rgba(69, 191, 85, 1) 100%);
    color: #fff;
    padding-top: 20;
    padding-left: 0;
    padding-right: 0;
}

.titleSidebar {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.titleSidebar h2 {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav flex-column nav-pills {
    margin-left: 0;
}

.lead {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
    
}

.titleSidebar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.nav-item {
    padding: 15px 15px 15px 0px;
}

.sidebar-navigation li a {
    display: inline-block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 0;
}

.nav-link.active {
    background-color: transparent !important;
}

.nav-link :active,
.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
    background-color: none,
}

.sidebar-navigation li::before {
    background: rgb(151, 237, 138);
    background: linear-gradient(159deg, rgba(151, 237, 138, 1) 0%, #45bf55 100%);
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 5px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.innerFrame {
    padding-left: 0;
}

.rightFrame {
    margin-left: 20em;
}

.nav-item {
    color: white;
}

.infobox {
    color: white;
    background-color: #97ed8a;
    font-family: Roboto;
    border-radius: 5px;
    margin-top: 30px;
    padding: 30px;
}

.infoFrame {
    padding-left: 20;
    padding-right: 20;
    text-align: center;
}

.infoHead {
    margin-top: 15px;
    margin-left: 20;
    font-size: 25px;
   
}

.btn-secondary {
    background-color: #148C3F;
    border-color: #148C3F;
}